<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/CM.css') }}">
</head>
<body>



<!-- <p>A Collapsible:</p>
<button class="collapsible">Open Collapsible</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> -->

<h1 style="text-align: center;"><br>Crop Management</h1>
<br>
<br>
<div class="container">
    
<button class="collapsible">Soil Preparation</button>
<div class="content">
    <p>The soil is loosened and tilted before the seeds are sown. Ploughs are used for the purpose. If the soil contains big lumps, they are broken with the help of a hoe. This process aerates the soil so that the roots breathe easily. The nutrients and minerals get properly mixed with the soil and come at the top. Thus, the fertility of the soil increases and is fit for plantation. </p>
</div>
<br>
<button class="collapsible">Sowing Of Seeds</button>
<div class="content">
    <p>The good quality, infection-free seeds are collected and sown on the prepared land. The seeds should be sown at proper depths and proper distances. Following are the various methods used to sow the seeds:
        <b>
        <br>
       <br>&#9679;Traditional techniques
        <br>&#9679;Broadcasting
        <br>&#9679;Dibbling
        <br>&#9679;Drilling
        <br>&#9679;Seed dropping behind the plough
        <br>&#9679;Transplanting
        <br>&#9679;Hill dropping
        <br>&#9679;Check row planting</p>
        </b>
</div>
<br>
<button class="collapsible">Addition Of Manures And Fertilizers</button>
<div class="content">
<p>The soil may not have the right nutrients to efficiently sustain plant growth. Hence, manures and fertilizers are added to the soil to increase its fertility and help plants grow better. Manure is prepared by using decomposing plant and animal matter in compost pits. Fertilizers, on the other hand, are chemicals prepared in factories which contain nutrients for a specific plant. They give faster results than manures. However, when excessively used, they turn the soil infertile.</p>
</div>

<br>
<button class="collapsible">Irrigation</button>
<div class="content">
<p>Crops require water at regular intervals for proper growth. The supply of water to the plants is known as irrigation. Well, rivers, lakes, tube-wells are different sources for irrigation. The traditional methods of agriculture involve the use of humans and animals. The various traditional ways are moats, chain-pump, dhekli, rahat.
   The modern techniques of irrigation include the sprinkler system and the drip system. Water is very important for the germination of seeds. It helps in the proper development of flowers, fruits, seeds, and plants. Therefore, it should be present in plants in large quantities.</p>
</div>

<br>
<button class="collapsible">Protection from Weeds</button>
<div class="content">
<p>The undesirable plants that grow along with the crops are called weeds. These weeds, feed on the nutrients provided to the crops and thus reduce the supply of nutrients to the crops, thereby, inhibiting their growth. The growth of these weeds needs to be prevented in order to enhance the growth of the plants.
   The process of removal of weeds is called weeding. To achieve this, weedicides are employed, which are essentially chemicals specifically made to destroy weeds. They are usually sprayed before seeding and flowering.</p>
</div>

<br>
<button class="collapsible">Harvesting</button>
<div class="content">
<p>When the crop matures, it is cut for further processing. This process is known as harvesting. It is usually manual labour, done with the help of sickle. However, mechanical harvesting is used these days – machines such as combine harvesters are used where the crops are harvested and threshed in one go.
<br><br>Threshing- Separation of grains from the harvested crops is called threshing. It is done either mechanically or by cattle.
<br>Winnowing- The separation of grains and chaff is called winnowing. It is done either mechanically or manually.</p>
</div>

<br>
<button class="collapsible">Storage</button>
<div class="content">
<p>The grains should be properly stored if they are to be kept for longer periods. They need to be protected from pests and moisture. The freshly harvested seeds should be dried before they are stored. This prevents the attack from microorganisms and pests.
   The harvested and separated grains are stored in airtight metallic bins or in the jute bags. Dried neem leaves are added to protect them from damage at home. Large amounts of grains are stored in granaries or silos with specific chemical treatments, to protect them from pests and insects.</p>
</div>
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>
