<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Crop.css">
</head>
<body>


<div class="container">
    <h1>Sell/Buy Product</h1>
<div class="row">
  <div class="column">
    <div class="card">
        <img src="img/veg.png" style="width: 200px;">
      <!-- <h3>Vegetables</h3> -->
      <a href="Home.html">Vegetables</a>
      
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="img/fruits.png" style="width: 200px;">
      <h3>Fruits</h3>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card">
        <img src="img/spices.png" style="width: 200px;">
      <h3>Spices</h3>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card">
        <img src="img/cotton.png" style="width: 200px;">
      <h3>Cotton</h3>
      
    </div>
  </div>
  
</div>
</div>
</body>
</html>
