<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/State.css') }}">
</head>
<body>
    <div class ="container">
        <img src="https://media.giphy.com/media/c1TzVrtoxtCLu/giphy.gif" alt="Telangana" style="width:100%;">
        <!-- <div class="transbox"> -->
  <div class="content" >
    <div class="img">
        <h2>Crops Of Telangana</h2>
        <p>
            Telangana state has considered agriculture as its primary goal to improve farmer community wellness, educate on latest technical farming knowledge, train framers to boost the agricultural production and productivity.
        </p>
    </div>
    <p>&nbsp;</p>
    <div class="table">
        <table>
            <tr>
            <th>S.No.</th>
              <th>Climate Zone</th>
              <th>Kharif Season Crop</th>
              <th>Rabi Season Crop</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Northern Telangana Zone</td>
              <td>Rice, Cotton, Maize, Soybean, Red gram</td>
              <td>Rice, Maize, Jowar</td>
              
            </tr>
            <tr>
              <td>2</td>
              <td>Central Telangana Zone</td>
              <td>Rice, Cotton, Maize</td>
              <td>Rice, Maize</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Southern Telangana Zone</td>
                <td>Rice, Cotton, Maize</td>
                <td>Rice, Maize</td>
            </tr>
          </table>
    </div>
    <p>&nbsp;</p>
    <div  >
            <h3>Rice</h3>
            <p>&nbsp;</p>
            <p><img src="img/paddy.webp" alt="Rice" style="width:170px;height:170px;margin-left:15px;float: right;" >
                Telangana is in the rice bowl of South India, and RICE is cultivated in about 44 lakh acres. In the
                recent past, climatic changes have greatly influenced the amount rainfall, due to which the area
                cultivated with RICE has decreased.
            </p>
        </div>
        <div  >
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3>Maize</h3>
            <p>&nbsp;</p>
            <p><img src="img/maize.webp" alt="Rice" style="width:170px;height:170px;margin-left:15px;float: right;" >
                Maize (Corn) is the second major cultivated crop in the state of Telangana in around 14 lakh acres producing annually 16 Lakh tonnes. It is used for human food and animal feed; it is also now widely used in corn starch industry, baby corn production etc.
            </p>
        </div>
    <!-- </div> -->
    </div>
    </div>


    
</div>
</body>
</html>