.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.table td, th {
    border: 1px solid #030303;
    text-align: left;
    padding: 8px;
  }
  
.table tr:nth-child(even) {
    background-color: #393737;
  }

.img h2{
    color: #05f64d;
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: full-width;
    margin: 40px 0;
}

* {
    padding: 0;
    margin: auto;}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: auto;
  margin:  auto;
}

/* .container img {
  opacity: 0.8;
  vertical-align: middle;} */

.container .content {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #faf0f0;
  width: auto;
  /* height: auto; */
  padding: 20px;

}
/* .transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
  } */
