<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/news.css') }}">

</head>
<body>
  
    <header>
    <h1 class="heading-1"></h1>
    <div class="sub-heading">
      
      <p class="importent"></p>
    </div>
    </header>

    <div class="main">
      <div class="home">
        <div class="left">
          <a href="https://www.thehindu.com/sci-tech/agriculture/in-dry-unreliable-weather-indian-farmers-restore-arid-land/article66127897.ece"> <img src="static/css/img/p1.jpg" class="home-img" alt="Paper photo">
            
          <h2 class="heading-2">
            In dry, unreliable weather, Indian farmers restore arid land
          </h2>
          </a>

        </div>

        <div class="right">
          <h3 class="heading-3">latest news</h3>
          <div class="lists">
            <marquee direction="up" height="468px">
              
              
            <div class="list">
              <img src="static/css/img/p1.jpg" alt="photo 1">
              <a href="https://swarajyamag.com/infrastructure/punjab-farmer-activists-protest-against-land-acquisition-for-delhi-amritsar-katra-expressway"><p>Punjab: Farmer Activists Protest Against Land Acquisition For Delhi - Amritsar - Katra Expressway</p></a>
            </div>

            <div class="list">
              <img src="static/css/img/p1.jpg" alt="photo 1">
              <a href="https://swarajyamag.com/infrastructure/punjab-farmer-activists-protest-against-land-acquisition-for-delhi-amritsar-katra-expressway"><p>Punjab: Farmer Activists Protest Against Land Acquisition For Delhi - Amritsar - Katra Expressway</p></a>
            </div>
            
            <div class="list">
              <img src="static/css/img/p1.jpg" alt="photo 1">
              <a href="https://swarajyamag.com/infrastructure/punjab-farmer-activists-protest-against-land-acquisition-for-delhi-amritsar-katra-expressway"><p>Punjab: Farmer Activists Protest Against Land Acquisition For Delhi - Amritsar - Katra Expressway</p></a>
            </div>
            <div class="list">
              <img src="static/css/img/p1.jpg" alt="photo 1">
              <a href="https://swarajyamag.com/infrastructure/punjab-farmer-activists-protest-against-land-acquisition-for-delhi-amritsar-katra-expressway"><p>Punjab: Farmer Activists Protest Against Land Acquisition For Delhi - Amritsar - Katra Expressway</p></a>
            </div>

            
          </marquee>
          </div>
        </div>
      </div>

      
    </div>
  </div>

  
  </div>
</body>
</html>